<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ren-ren_crawler.mapper">
    <insert id="saveUser" parameterType="User">
        INSERT INTO users
        VALUES(null,#{nickName},#{birth},#{home},#{albumHome},#{avatarAlbum},false)
    </insert>

    <select id="isUserExist" parameterType="User" resultType="Int">
        SELECT id FROM users
        WHERE nickName = #{nickName}
    </select>

    <select id="allUsers" resultType="User">
        SELECT nickName,birth,avatarAlbum FROM users WHERE isFetch = FALSE
    </select>

    <update id="changeUserIsFetch" parameterType="User">
        UPDATE users SET isFetch = TRUE
        WHERE nickName = #{nickName}
    </update>

    <insert id="savePhoto" parameterType="Photo">
        INSERT INTO photos
        VALUES(null,#{nickName},#{age},#{avatarUrl},false)
    </insert>
    
    <select id="isPhotoExist" parameterType="Photo" resultType="Int">
        SELECT id FROM photos
        WHERE avatarUrl = #{avatarUrl}
    </select>

    <select id="allPhotos" resultType="Photo">
        SELECT nickName,age,avatarUrl FROM photos WHERE isFetch = FALSE
    </select>

    <select id="photosByAge" resultType="Photo">
        SELECT nickName,age,avatarUrl FROM photos WHERE age = #{age} AND isFetch = FALSE
    </select>

    <update id="changePhotoIsFetch" parameterType="Photo">
        UPDATE photos SET isFetch = TRUE
        WHERE avatarUrl = #{avatarUrl}
    </update>

</mapper>